body {
	background-color: lightblue;
}

.container {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	size: auto;
	font-weight: bold;
}

h1 {
	color: black;
	text-align: center;
	margin: auto;
	text-shadow: aqua;
}

p {
	font-family: verdana;
	font-size: 20px;
	text-align: center;
}
